/* --- Estilos da Home --- */

.home {
    background-image: url(/sucata.svg);
    background-size: cover;
    background-position: center;
    background-attachment: local;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
    padding: 0 1rem;
    position: relative;
}

.home::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3); /* Fundo preto semi-transparente para a imagem */
    z-index: 1;
}

.home-content {
    z-index: 2;
    max-width: 800px;
    margin-bottom: 2rem;
}

.home-content h1 {
    font-size: 3.5rem;
    margin-bottom: 1rem;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
}

.home p {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 600px;
    background-color: rgba(0, 0, 0, 0.5); /* Aumentamos a opacidade aqui! */
    padding: 1rem;
    border-radius: 8px;
}

/* Responsividade da Home */
@media (max-width: 768px) {
    .home {
        height: auto;
        padding: 4rem 1rem;
    }

    .home-content h1 {
        font-size: 2.5rem;
    }

    .home p {
        font-size: 1rem;
    }
}